<h1 class="page-header">Login</h1>

<div> 
  <%= form_tag '/login' do %>
    <div>
      <div><b>Email</b></div>
      <%= text_field_tag :email %>
    </div>
    <div class="form-group"> 
      <div><b>Password</b></div>
      <%= password_field_tag :password %>
    <div>
    <div class="form-group">
      <br>
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div> 